.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 44px;
  margin-bottom: 16px;
}

.month-select {
  width: 44px;
  height: 44px;
  background-color: white;
}

.month-select:hover {
  background-color: #e6e6e6;
}

.day-area {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: fit-content;
}

.day-button {
  width: 50px;
  height: 36px;
}